<div class="span3 well" style="text-align:center;">
	<h2><%= link_to 'Gregslist', root_path %></h2>
  <% if user_signed_in? %>
  	<%= link_to 'Create New Listing', new_listing_path %></br>
    <%= link_to 'My Account', edit_user_registration_path %></br>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %></br>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %></br>
    <%= link_to 'Sign Up', new_user_registration_path %></br>
  <% end %>

  <%= form_tag search_listings_path, method: :get do |f| %>
  	<h5>Search Gregslist</h5>
    <%= text_field_tag :search, nil, placeholder: 'search' %>
    <%= text_field_tag :location, nil, placeholder: 'near' %>
    <h6>Category:</h6>
    <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
    <%= submit_tag 'search' %>
  <% end %>

	<h5><%= link_to "help,faq,abuse,legal", about_path, style: "color:black;" %></h5>
	<h5><%= link_to "avoid scams and fraud", about_path, style: "color:black;" %></h5>
	<h5><%= link_to "personal safety tips", about_path, style: "color:black;" %></h5>
	<h5><%= link_to "terms of use", about_path, style: "color:black;" %></h5>
	<h5><%= link_to "privacy policy", about_path, style: "color:black;" %></h5>
	<h5><%= link_to "system status", about_path, style: "color:black;" %></h5>
	</br>
</div>

<div class="span4 well" style="text-align:center;background:white;border:white;">
	<h3><%= link_to @community.name, category_path(@community) %></h3>
	<% @community.subcategories.each do |c| %>
		<p><%= link_to c.name, category_subcategory_path(@community, c) %></p>
	<% end %>

	<h3><%= link_to @personals.name, category_path(@personals) %></h3>
	<% @personals.subcategories.each do |c| %>
		<p><%= link_to c.name, category_subcategory_path(@personals, c) %></p>
	<% end %>

	<h3><%= link_to @forsale.name, category_path(@forsale) %></h3>
	<% @forsale.subcategories.each do |c| %>
		<p><%= link_to c.name, category_subcategory_path(@forsale, c) %></p>
	<% end %>
</div>

<div class="span4 well" style="text-align:center;background:white;border:white;">
	<h3><%= link_to @jobs.name, category_path(@jobs) %></h3>
	<% @jobs.subcategories.each do |c| %>
		<p><%= link_to c.name, category_subcategory_path(@jobs, c) %></p>
	<% end %>
	<h3><%= link_to @housing.name, category_path(@housing) %></h3>
	<% @housing.subcategories.each do |c| %>
	<p><%= link_to c.name, category_subcategory_path(@housing, c) %></p>
	<% end %>
	</br>
</div>


<div class="span3 well" style="text-align:center;">
	<% if user_signed_in? %>
		<h4><%= current_user.current_city %></h4>
	<% else %>
		<h4>New York City</h4>
	<% end %>

	</br>
	<h5><%= link_to "about gregslist", about_path, style: "color:black;" %></h5>
	<h5><%= link_to "gregslist open source", about_path, style: "color:black;" %></h5>
	<h5><%= link_to "gregslist blog", about_path, style: "color:black;" %></h5>
	<h5><%= link_to "best-of-gregslist", about_path, style: "color:black;" %></h5>
	<h5><%= link_to "gregslist TV", about_path, style: "color:black;" %></h5>
	<h5><%= link_to "gregslist Joe", about_path, style: "color:black;" %></h5>
	<h5><%= link_to "gregs Connect", about_path, style: "color:black;" %></h5>
	</br>
	<h5>newest listings:</h5>
	<% Listing.limit(6).reverse.each do |l| %>
		<p><%= link_to "#{l.title}, #{l.city}", listing_path(l) %>, <%= show_date(l.created_at, false) %></p>
	<% end %>
	</br>
</div>

