<!DOCTYPE html>
<html>
<head>
  <title>Gregslisting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- <p class="notice"><%= notice %></p> -->
	<!-- <p class="alert"><%= alert %></p> -->

<%= render 'layouts/body1' unless @disable_nav %>
<div id="main">
	<%= yield %>
</div>
<%= render 'layouts/body2' unless @disable_nav %>


</body>
</br>
</br>
</br>

<footer>
  <%= render 'layouts/footer' %>
</footer>
</html>
